.floorplan {
  margin-top: 5rem;
  background-color: #92d293;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.floorNumber {
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
}
.line {
  height: 0.1rem;
  background-color: black;
}
.lift {
  width: 1rem;
  background-color: #364f45;
  height: 2rem;
  position: relative;
  left: 1rem;
  bottom: 4rem;
}
.hidden {
  visibility: hidden;
}
.lift-array {
  display: flex;
  justify-content: space-around;
}
.lift-array button {
  position: relative;
  left: 1rem;
  bottom: 5rem;
}
.button-list {
  display: flex;
  flex-direction: column;
}
.lift-package {
  display: flex;
  row-gap: 1rem;
}
